// Цвета
$yellow:              #fce473;
$pink:                #c71585;
$green:               #15616D;
$blue:                #1d90ff;

$primary-color:     rgba(0, 21, 36, 0.5);
$title-color:     rgba(21, 97, 109, 1);
;



// Шрифты
$serif:               "Lora", "Playfair Display", Georgia, serif;
$sans-serif:          "Roboto", "Source Sans Pro", "Open Sans", Arial, sans-serif;
$monospace:           "Inconsolata", monospace;
$primary-font:        $sans-serif;
$secondary-font:      $serif;

// Расстояние
$mobile-space:        10px;
$desktop-space:       35px;